@tailwind base;
@tailwind components;
@tailwind utilities;

.main-nav-link {
  @apply relative font-medium tracking-wide transition before:absolute before:inset-x-0 before:-bottom-1 before:z-10 before:h-0.5 before:origin-top-left before:scale-x-0 before:bg-accentBlue before:transition-all before:duration-300 hover:text-slate-600 hover:before:scale-x-100 dark:hover:text-slate-300;
}

.btn-primary {
  @apply relative z-[1] overflow-hidden rounded-full bg-accentCyan px-12 py-2.5 text-lg font-medium transition duration-200 before:absolute before:inset-0 before:-z-[1] before:origin-right before:scale-x-0 before:bg-[#36cbc5] before:transition before:duration-500 hover:scale-105 hover:before:origin-left hover:before:scale-x-100;
}

.testimonial-container::before {
  content: "";
  position: absolute;
  top: -5rem;
  left: -5rem;
  width: 5rem;
  height: 5rem;
  background-repeat: no-repeat;
  background-image: url("../images/bg-quotes.png");
  background-position: center;
  background-size: contain;
}

.testimonial-container::before {
  content: "";
  position: absolute;
  display: inline-block;
  top: -4.5rem;
  left: -0.25rem;
  width: 5rem;
  height: 5rem;
  background-repeat: no-repeat;
  background-image: url("../images/bg-quotes.png");
  background-position: center;
  background-size: contain;
}
