/* Global Styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  max-width: 60%;
  margin: 0 auto;
  color: #333;
}

h1 {
  font-size: 4rem;
}

/* header styles */
.header-section {
  margin-top: 8rem;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  margin-bottom: 8rem;
}

.main-title {
  font-family: "PT Serif Caption", serif;
  font-size: 3.6rem;
  font-weight: 700;
  letter-spacing: -1.62px;
  flex: 1 1 40%;
  margin-bottom: 1.6rem;
}

.main-description {
  flex: 1 1 50%;
}

.main-description h2 {
  font-size: 2rem;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.main-description p {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* team section styles */
.team-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "bill . shaw"
    "bill saba shaw"
    ". saba ."
    "skylah . stan"
    "skylah griff stan"
    ". griff .";
}

.team-section figcaption {
  font-size: 1.8rem;
  font-weight: 600;
}

.team-member {
  padding: 0 2rem;
  position: relative;
}

.team-member:first-of-type {
  grid-area: bill;
}

.team-member:nth-of-type(2) {
  grid-area: saba;
}

.team-member:nth-of-type(3) {
  grid-area: shaw;
}

.team-member:nth-of-type(4) {
  grid-area: skylah;
}

.team-member:nth-of-type(5) {
  grid-area: griff;
}

.team-member:last-of-type {
  grid-area: stan;
}

.role {
  position: absolute;
  top: 0;
  right: 0;
  writing-mode: vertical-lr;
  font-family: "PT Serif Caption", serif;
  font-size: 8px;
  text-transform: uppercase;
}

.team-section img {
  width: 100%;
}

/* footer styles */
.footer-section {
  margin: 5rem 0;
  text-align: center;
  color: #a9a9a9;
}

.footer-section p {
  font-weight: 500;
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
}

.username {
  font-weight: 700;
  text-decoration: underline;
}

/* Media Queries for mobile devices*/
@media only screen and (max-width: 576px) {
  .header-section {
    flex-direction: column;
    margin-bottom: 2.4rem;
  }

  .team-section {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "bill ."
      "bill saba"
      ". saba"
      "shaw ."
      "shaw skylah"
      ". skylah"
      "griff ."
      "griff stan"
      ". stan";
  }

  .team-member {
    padding: 1.6rem;
  }

  .team-member figcaption {
    font-size: 1.2rem;
  }

  .role {
    top: 16px;
  }
}
