@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply relative border-2 border-black px-12 py-2 font-alata font-bold uppercase tracking-widest before:absolute before:inset-0 before:-z-10 before:bg-black before:transition before:duration-300 hover:text-white;
  }

  .btn-desktop {
    @apply md:before:origin-left md:before:scale-x-0 md:hover:before:scale-x-100;
  }

  .btn-mobile {
    @apply before:origin-bottom before:scale-y-0 hover:before:scale-y-100;
  }
}

.hero {
  background-image: url("../images/desktop/image-hero.jpg");
}

.creation-item {
  @apply relative overflow-hidden before:absolute before:left-0 before:top-0 before:z-10 before:h-full before:w-full before:bg-gradient-to-b before:from-transparent before:to-gray-900 before:transition-all before:duration-500 hover:before:from-gray-100/60 hover:before:to-white/60;
}

@media only screen (max-width: 576px) {
  .hero {
    background-image: url("../images/mobile/image-hero.jpg");
    background-position: center;
  }
}

.mobile-nav {
  position: absolute;
  z-index: 9;
  inset: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  transition: all 0.5s;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

/* Hamburger Menu */
.btn-menu {
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  transition: all 0.25s;
  position: relative;
  z-index: 999;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 0;
  left: 0;
  background: #fff;
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
  transform-origin: bottom;
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open-close {
  transform: rotate(90deg);
}

.open-close .hamburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}
.open-close .hamburger-middle {
  transform: scaleY(0);
}

.open-close .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

.nav-open .mobile-nav {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
